
body {
    background-color:beige;
    margin-bottom: 60px;
}

.heading {
    padding-top: 28vh;
    font-size: 50px;
    color: black;
    text-align: center;
}

.greeting {
    padding-top: 5vh;
    font-size: 30px;
    color: black;
    text-align: center;
}

.paragraph {
    padding-top: 5vh;
    font-size: 20px;
    color: black;
    text-align: center;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D2B48C;
    text-decoration: none;
}

li {
    float: left;
}
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
    }

        li a:hover:not(.active) {
            background-color: antiquewhite;
        }

.active {
    background-color: #d3c17f;
}


footer {
    background-color: #d3c17f;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #D2B48C;
    color: black;
    position: fixed;
    text-align: center;
    float: left;
}


.link-footer {
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    width: 100%;
   
}

footer a:hover:not(.active) {
    background-color: antiquewhite;
}

button {
    display: block;
    padding: 10px 10px;
    font-size:20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: beige;
    border: none;
    border-radius: 10px;
}